/*BODY*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fffdd0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/*HEADER*/
header {
    display: flex;
    flex-direction: column;
}
/*
.logo {
    display: flex;
    justify-content: flex-start;
    margin-left: 90px;
    margin-bottom: -20px;
    padding: 20px 0;
}

.logo img {
    width: 100%;
    height: 7em;
    margin-bottom: 15px;
}
*/
/*------------------------------------------------------------------------------*/

/*MAIN*/
main {
    flex-grow: 1; 
    display: block;
    box-sizing: border-box;
    text-align: center;
}

section{
    margin-bottom: 150px;
}


/*FIRST SECTION*/
/*.first{
    height: 600px;
    width: 100%;
    background-image: url('images/Cimg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
*/
.first{
    height: 700px;
    width: 100%;
    background: linear-gradient(to left, #ff6f0e, #855000); 
    background-size: cover;
    background-position: center;
}

h1{
    position: absolute;
    font-family: sans-serif;
    color: white;
    text-align: left;
    font-size: 38px;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 80px;
    text-shadow:  6px 6px 18px rgba(0, 0, 0, 1);
    text-transform: uppercase;
}

.first p{
    position: absolute;
    font-family: sans-serif;
    color: white;
    text-align: left;
    font-size: 24px;
    margin-top: 250px;
    margin-left: 80px;
    text-transform: uppercase;
}


/*SECOND SECTION*/
.second{
    height: 800px;
    width: 100%;
    background: linear-gradient(to left, #ff6f0e, #855000); 
    background-size: cover;
    background-position: center;
}

/*------------------------------------------------------------------------------*/

/*FOOTER*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    width: 100%;
    flex-shrink: 0; 
}

/*------------------------------------------------------------------------------*/

/*BUTTONS*/

/*NAV BUTTON*/
.navbar {
    background-color: black;
}

.navbar-nav{
    margin-left: 80px; 
}

.navbar-nav .nav-link {
    color: white;
    padding: 10px 15px; 
    margin-right: 35px;
    font-size: 16px; 
    text-transform: uppercase; 
    text-decoration: none;
    border: none; 
    outline: none; 
    box-shadow: none; 
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus, .navbar-nav .nav-link:active {
    background-color: transparent; 
    color: #ff6f0e; 
    border: none; 
    box-shadow: none;
}

.navbar-toggler {
    border: none; 
}



/*FIRST SECTION BUTTON*/
.FSbutton{
    display: flex;
    position: relative;
}

.FSbutton a{
    background-color: #ff6f0e;
    color: white;
    padding: 20px 40px;
    max-width: 100%;
    cursor: pointer;
    font-size: 16px;
    border-radius:45px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    margin-top: 350px;
    margin-left: 80px;
}


.FSbutton a:hover{
    background-color: #ff6f0e; 
    color: black; 
    border: none; 
    box-shadow: none;  
}
